// Text fields
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  border: 2px solid scale-color($base, $lightness: 85%);
  color: $base;
  font-family: $base-font-family;
  font-size: $base-font-size;
  padding: 3px 5px;
  text-indent: 1px;
  @include flatui-box-shadow(none);
  @include flatui-placeholder-color(desaturate(scale-color($base, $lightness: 60%), 15%));

  &:focus {
    border-color: $firm;
    @include flatui-box-shadow(none);
  }

  .control-group.error & {
    @include flatui-input-states($danger);
  }
  .control-group.success & {
    @include flatui-input-states($success);
  }

  .control-group.warning & {
    @include flatui-input-states($warning);
  }

  .control-group.info & {
    @include flatui-input-states($info);
  }
}

// Disabled state -----------------
input[disabled],
input[readonly],
textarea[disabled],
textarea[readonly] {
  background-color: scale-color($gray, $lightness: 80%);
  border-color: transparent;
  color: scale-color($gray, $lightness: 50%);
  cursor: default;
}

// Text field grids -----------------
input,
textarea,
.uneditable-input {
  width: 192px;
}

// input-prepend, input-append
.input-append,
.input-prepend {
  .add-on {
    padding: 3px 4px;
    border: 2px solid scale-color($base, $lightness: 85%);;
  }

  [class^="icon-"],
  [class*=" icon-"] {
    margin-top: 2px;
  }
}

.input-prepend {
  .add-on,
  .btn {
      margin-right: -2px;
  }
}

.input-append {
  .add-on,
  .btn {
      margin-left: -2px;
  }
}
